http://162.243.23.16:9995/v1/status/kafka {
  proxy / http://localhost:5000 {
    header_upstream Host {host}
  }
}

http://162.243.23.16:9995/v1/status/neo4j {
  proxy / http://localhost:5000 {
    header_upstream Host {host}
  }
}

